.header {
    background-color: #0078d7;
    color: #eee;
}

.navbar-logo {
    width: 4em;
    height: auto;
    margin-left:20px
}

.nav-link { color: #fff !important; }
.nav-link:hover { color: #eee; }

.auth-link { color: #fff; }
.auth-link:hover { color: #eee; }
